:root{
    --bg-color: #faeac1;
    --accent: #e9dab4;
    --red: #ba3226;
    --text-dark: #000000;
    --card-bg: #ffffff;
    --font: inter;
    --fontlabel: pacifico-regular;
}



main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 0.5em;
    padding: 0.5em;
    justify-items: center;
}


body {
    font-family: var(--font);
    background-color: var(--bg-color);
    accent-color: var(--accent);
    background-size: cover;
    
}


.tags-class {
    position: absolute;
    bottom: 40px;
    right: 70px;
}


.recipe-image{
    float: right;
    margin-left: auto;
    margin-right: 40px;
    margin-bottom: 50px;
    width: fit-content;
    border-radius: 8px;
}


.steps-list li {
    text-align: left;
    margin-top: 20px;
}


/*Card flip animation */

.flip-card {
    background-color: transparent;
    width: 100%;
    max-width: 500px;
    height: 300px;
    border-radius: 16px;
    padding: 2px;
    perspective: 1000px;
    margin: 1rem;
    will-change: transform;
}

.flip-card:fullscreen {
    background-color: pink;
}
  
/*For positioning front and back side of card */
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s, border 0.3s ease 1s, box-shadow 0.3s ease 1s;
    transform-style: preserve-3d;
}
  
/* Recipe card will flip when hovered over with mouse */
  
.flip-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.5); /* optional glow effect */
    z-index: 1; /* optional: brings hovered card to front if overlapping */
}


  /*.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }*/

.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}
  
  
.flip-card-front, .flip-card-back {
    position: absolute;
    border: 2px solid black;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 16px;
    background-color: var(--card-bg);
    background-size: 300px 500px;
}
  
  
.flip-card-front {
    background-color: #ffffff;
    padding: 20px;
    overflow: hidden;
}
  
  
.flip-card-back {
    background-color:#ffffff;
    transform: rotateY(180deg);
    
    text-align: center;
    overflow: scroll;
}

/* .flip-card:fullscreen .flip-card-inner {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  } */

/*Ingredient Scroll Function*/

.ingredients-scroll {
    max-height: 120px; /* adjust as needed */
    max-width: 230px;
    overflow-y: scroll;
    padding-right: 0.5em; /* optional: avoids cutting off scrollbar */
    border: 3px ridge var(--red);
}

.ingredients-scroll::-webkit-scrollbar {
    width: 6px;
}

.ingredients-scroll::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}